<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission (nếu dùng notification) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Doan Notes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <!-- Màn hình chính -->
        <activity
            android:theme="@style/Theme.Doan"
            android:name=".ui.main.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Màn hình thêm/sửa ghi chú -->
        <activity
            android:theme="@style/Theme.Doan"
            android:name=".ui.addedit.AddEditNoteActivity"
            android:exported="false" />

        <!-- Receiver dùng cho nhắc nhở ghi chú -->
        <receiver
            android:name=".reminder.ReminderReceiver"
            android:exported="false" />

    </application>

</manifest>
